form#new-post {
    width: 100%;
    max-width: 58rem;
    margin: 3rem auto 0;
    padding: 3rem;
    background: #fff;
    border: 0.1rem solid #ddd;

    display: flex;
    flex-direction: column;
}

form#new-post input {
    margin-bottom: 1rem;
}

form#new-post input[type="text"] {
    height: 3.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #ddd;
    padding: 0 2rem;
    font-size: 1.4rem;
}

form#new-post button {
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border: 0;
    background: #242424;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
