header#main-header {
    background-color: #fff;
    height: 7.2rem;
    border-bottom: 0.1rem solid #ddd;
}

header#main-header .header-content {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    height: 7.2rem;
    padding: 0 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
